{
    "VOTE_ADDRESS": "VOTE_ADDRESS",
    "REWARD_ADDRESS": "REWARD_ADDRESS",
    "RATIO": 0.9,
    "RPC_URL": "RPC_URL",
    "MIN_BALANCE": 0.03,
    "LAMPORTS_PER_SOL": 1000000000,
    "SCHEDULE_UTC_TIME": "00:00:00"
}